@import "base/vars";
@import "style/news";
@import "style/sliders";
@import "style/profile";
@import "style/route";
@import "style/location";
@import "style/profile";
@import "style/allroutes";
@import "style/kcp";
.block_wrap {
    margin: 0 auto;
    max-width: $xl;
    padding: $colGap*2;
    position: relative;
    letter-spacing: 1px;
    &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}
// .col {
//     letter-spacing: 1px;
// }
.bg_gr {
    background: #fcfcfc;
}
.bg_darkgr {
    background: #f9f9f9;
}
.hdr_top {
    border-bottom: $lightgrey 1px solid;
}
.page_hdr {
    a {
        color: $txt_mid;
    }
    .navbar {

        a {
            color: $txt_light;
            font-size: .9rem;
        }
    }
    .logo {
        background: url(../img/logo.png) 50% no-repeat;
        background-size: contain;
        height: 50px;
        max-width: 200px;
        display: block;
        margin: 10px auto;
    }
}
.page_hdr {
    border-bottom: $lightgrey 1px solid;
}
.top_info {
    small {
        font-size: 9px;
        line-height: 9px;
        display: block;
    }
    .icon-phone2 {
        color: $active;
        font-weight: bold;
        @include mquery(max-width, $m) {
            font-size: 13px;
        }
        &:before {
            padding: 5px;
            font-size: 13px;
            text-align: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin: -5px 5px 0 0;
            border: #019cde 1px solid;
            display: inline-block;
        }
    }
}
//============================= top_search
.top_search {
    position: relative;
    padding: 0 0.4em;
    &:before {
        position: absolute;
        top: 50%;
        left: $colGap;
        margin-top: -10px;
        font-size: 20px;
    }
    .fld {
        padding-left: 25px;
    }
    .btn {
        position: absolute;
        top: 0px;
        right: $colGap;
        bottom: 0px;
        width: 40px;
        opacity: 0;
        z-index: -1;
    }
}
//==================================== lang
.lang {
    position: relative;
    a, span {
        display: block;
        width: 100%;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        transition: all .2s ease-in-out;
        &:hover .other_langs {
            opacity: 1;
            visibility: visible;
        }
    }
    .other_langs {
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: $bg_1;
        border: #ccc 1px solid;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease-in-out;
        z-index: 10;
        a{
            line-height: 16px;
            display: block;
            padding: 2px 5px;
            &:hover{
                background: $clr_dark;
                color: white;
            }
        }
    }
}
.__opened
{
    .other_langs{
        opacity: 1;
        visibility: visible;
    }
}
.login, .lang {
    a{
        font-size: 12px;
    }

}
.login_block
{
    padding-right: 15px;
    margin: 0 0 6px 0;
    &_name{
        font-size: 12px;
        display: inline-block;
        margin: 0 14px 0 0;
        vertical-align: middle;
        &_fl
        {
            background: #0097d7;
            color: white;
            padding: 2px 7px;
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-weight: 500;
        }
    }
}
//======================== headers
.h1, .h2, .h3 {
    font-weight: 400;
}
.h2.txt_c {
    font-weight: 500;
    color: #474646;
    padding-bottom: 35px;
    background: url(../img/h1.svg) 50% 100% no-repeat;
    &+.txt_c {
        color: $txt_light;
        margin: 15px 0 20px 0;
    }
}
//================================ filters
.top_filters {
    margin-bottom: -$colGap*2;
    .col {
        position: relative;
        margin-bottom: $colGap*2;
        &:first-child:before {
            display: none;
        }
        &:before {
            content: '';
            display: block;
            width: 1px;
            position: absolute;
            background: #eee;
            left: 0px;
            top: -20%;
            height: 140%;
        }
    }
    .h6 {
        color: #333;
        margin-bottom: $colGap*2;
    }
    &.grid {
        margin-left: -$colGap*2;
        margin-right: -$colGap*2;
    }
    .col {
        padding: 0 $colGap*2;
    }
    .date_show {
        position: relative;
        z-index: 0;
    }
    .date {
        opacity: 0;
        position: absolute;
        left: $colGap*2;
        top: 0px;
        right: $colGap*2;
        bottom: 0px;
        z-index: 2;
        max-width: 92%;
        &~span {
            position: absolute;
            right: 1.2rem;
            padding: 7px;
            top: 0;
            color: $txt_light;
            z-index: 0;
        }
        &.filled {
            &~.icon-close {
                display: block;
                z-index: 10;
            }
            &~.icon-calendar {
                display: none;
            }
        }
    }
    .icon-close {
        display: none;
    }
    .btn {
        width: 100%;
    }
    // input, select {
    //     padding: $fld_padd_v*2 $fld_padd_h;
    // }
}
.topbrod{
    border-top: $table_brdr 1px solid;
}
.sign-card
{
    display: inline-block;
    width: 70px;
    height: 38px;
    position: relative;
    vertical-align: middle;
   &:after{
       width: 59px;
       height: 38px;
       background:  url(../img/card.svg) no-repeat center center;
       background-size: cover;
       vertical-align: middle;
       content: "";
       position: absolute;
       top: 0px;
       left: 0px;
   }

}
.news_bg
{
    .sign-card
    {
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
        border-left: 1px solid white;
        &:after
        {
            top: -4px;
            left: 10px;
        }
    }
}
.sign-museum{
    display: inline-block;
    padding: 5px;
    border-left: 1px solid white;
    vertical-align: middle;
    width: 50px;
    height: 32px;
    margin-left: 10px;
    position: relative;
    &:before{
        content: "";
        background: url(../img/museum.svg) no-repeat center center;
        width: 37px;
        height: 30px;
        position: absolute;
        background-size: cover;
        top: 50%;
        lefT: 50%;
        margin: -15px 0 0 -13px;
    }
}
.sign-theater{
    display: inline-block;
    padding: 5px;
    border-left: 1px solid white;
    vertical-align: middle;
    width: 58px;
    height: 32px;
    margin-left: 10px;
    position: relative;
    &:before{
        content: "";
        background: url(../img/icon_theater.svg) no-repeat center center;
        width: 49px;
        height: 30px;
        position: absolute;
        background-size: cover;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -20px;
    }
}
//======= footer
footer {
    background: #3c3c3c;
    color: #eee;
    .nav {
        background: #f1f1f1;
        li {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0px;
                height: 26px;
                width: 2px;
                margin-top: -13px;
                background: #b8b8b8;
                @include mquery(max-width, $s) {
                   display: none;
                }
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        a {
            display: block;
            font-weight: 100;
            padding: 20px 20px;
            color: #777;
            @include mquery(max-width, $s) {
               padding: 10px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .hdr.h4 {
        font-size: 1.1rem;
        margin-top: 2rem;
    }
}
.ftr_photos {
    div {
        background-size: cover;
        background-position: 50%;
        height: 15vw;
        max-height: 180px;
    }
}
.ftr {
    &_underbottom {
        color: #a5a5a5;
        .logo {
            background: url(../img/logo.png) 50% no-repeat;
            background-size: contain;
            height: 40px;
            max-width: 200px;
            display: block;
        }
        &_text {
            padding-top: 10px;
        }
    }
}
.video_block {
    height: 30vw;
    max-height: 360px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.ftr_2cols {
    margin: 0 10% 20px 10%;
}
.ftr_subscr {
    margin: 20px 0;
    position: relative;
    .icon-next {
        position: absolute;
        right: 5px;
        top: 7px;
        color: #777;
    }
    input {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.ftr_menu {
    ul {
        padding: 44px 0 0 0;
        @include mquery(max-width, $m) {
            padding: 6px 0 0 0;
        }
        li {
            list-style-type: none;
            a {
                color: #eee;
                padding: 5px 0;
                display: block;
            }
        }
    }
}
.footer {
    &_top {

    }
    &_socials {
        .col {
            border-left: #fff 1px solid;
            overflow: hidden;
            &:hover {
                &:hover {
                    background: #fff;
                    a {
                        color: #555;
                    }
                }
            }
        }
        a {
            color: #fff;
            font-size: 1.4rem;
            display: block;
            padding: 15px;
            text-align: center;
        }
        border-bottom: 1px solid #fff;
    }
}
//================================= queries 
@include mquery(min-width, $s) {
    .top_filters .date {
        max-width: 85%
    }
}
@include mquery(min-width, $m) {
    .login, .lang {
        font-size: 1rem;
    }
    .top_search {
        padding-left: $colGap;
        .fld {
            width: 12vw;
        }
    }
    .slider_wide li, .slider_wide .slick-slide {
        height: 400px;
        .h2 {
            max-width: 60%;
        }
    }
    .nav a {
        padding: 0.5em 1.5vw;
    }
}
@include mquery(min-width, $l) {
    .nav a {
        padding: 0.5em 2vw;
    }
    .slider_wide li, .slider_wide .slick-slide {
        .h2, .btn {
            margin: 1.8vw 0;
        }
        .h2 {
            max-width: 50%;
        }
    }
}
@include mquery(min-width, $xl) {
    .top_filters .date {
        max-width: 90%
    }
    .slider_wide li, .slider_wide .slick-slide {
        .h2, .btn {
            margin: 1.3vw 0;
        }
        .h2 {
            max-width: 40%;
            &:after {
                margin-top: 2vw;
            }
        }
    }
}