@import "base/vars";
@import "style/news";
@import "style/sliders";
@import "style/profile";
.block_wrap {
    margin: 0 auto;
    max-width: $xl;
    padding: $colGap*2;
    position: relative;
    letter-spacing: 1px;
    &:after {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}
// .col {
//     letter-spacing: 1px;
// }
.bg_gr {
    background: #fcfcfc;
}
.hdr_top {
    border-bottom: $table_brdr 1px solid;
}
.page_hdr {
    a {
        color: $txt_mid;
    }
    .navbar {
        padding: 4px 0;
        a {
            color: $txt_light;
            font-size: .9rem;
        }
    }
    .logo {
        background: url(../img/logo.png) 50% no-repeat;
        background-size: contain;
        height: 50px;
        max-width: 200px;
        display: block;
        margin: 10px auto;
    }
}
.page_hdr {
    border-bottom: $table_brdr 1px solid;
}
.top_info {
    small {
        font-size: 9px;
        line-height: 9px;
        display: block;
    }
    .icon-phone2 {
        color: $active;
        font-weight: bold;
        &:before {
            padding: 5px;
            font-size: 13px;
            text-align: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin: -5px 5px 0 0;
            border: #019cde 1px solid;
            display: inline-block;
        }
    }
}
//============================= top_search
.top_search {
    position: relative;
    padding: 0 0.4em;
    &:before {
        position: absolute;
        top: 50%;
        left: $colGap;
        margin-top: -10px;
        font-size: 20px;
    }
    .fld {
        padding-left: 25px;
    }
    .btn {
        position: absolute;
        top: 0px;
        right: $colGap;
        bottom: 0px;
        width: 40px;
        opacity: 0;
        z-index: -1;
    }
}
//==================================== lang
.lang {
    position: relative;
    a, span {
        display: block;
        width: 100%;
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        transition: all .2s ease-in-out;
        &:hover .other_langs {
            opacity: 1;
            visibility: visible;
        }
    }
    .other_langs {
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: $bg_1;
        border: #ccc 1px solid;
        opacity: 0;
        visibility: hidden;
        transition: opacity .2s ease-in-out;
    }
}
.login, .lang {
    font-size: .9rem;
}
//======================== headers
.h1, .h2, .h3 {
    font-weight: 400;
}
.h2.txt_c {
    font-weight: bold;
    padding-bottom: 50px;
    background: url(../img/h1.png) 50% 100% no-repeat;
    &+.txt_c {
        color: $txt_light;
        margin: 15px 0 20px 0;
    }
}
//================================ filters
.top_filters {
    border-bottom: $table_brdr 1px solid;
    margin-bottom: -$colGap*2;
    .col {
        position: relative;
        margin-bottom: $colGap*2;
        &:first-child:before {
            display: none;
        }
        &:before {
            content: '';
            display: block;
            width: 1px;
            position: absolute;
            background: #eee;
            left: 0px;
            top: -20%;
            height: 140%;
        }
    }
    .h6 {
        color: #333;
        margin-bottom: $colGap*2;
    }
    &.grid {
        margin-left: -$colGap*2;
        margin-right: -$colGap*2;
    }
    .col {
        padding: 0 $colGap*2;
    }
    .date_show {
        position: relative;
        z-index: 0;
    }
    .date {
        opacity: 0;
        position: absolute;
        left: $colGap*2;
        top: 0px;
        right: $colGap*2;
        bottom: 0px;
        z-index: 2;
        max-width: 92%;
        &~span {
            position: absolute;
            right: 1.2rem;
            padding: 7px;
            top: 0;
            color: $txt_light;
            z-index: 0;
        }
        &.filled {
            &~.icon-close {
                display: block;
                z-index: 10;
            }
            &~.icon-calendar {
                display: none;
            }
        }
    }
    .icon-close {
        display: none;
    }
    .btn {
        width: 100%;
    }
    // input, select {
    //     padding: $fld_padd_v*2 $fld_padd_h;
    // }
}
//======= footer
footer {
    background: #3c3c3c;
    color: #eee;
    .nav {
        background: #f1f1f1;
        a {
            display: block;
            font-weight: 100;
            padding: 20px 20px;
            color: #777;
        }
    }
}
.ftr_photos {
    div {
        background-size: cover;
        background-position: 50%;
        height: 15vw;
        max-height: 180px;
    }
}
.video_block {
    height: 30vw;
    max-height: 360px;
    iframe {
        width: 100%;
        height: 100%;
    }
}
.ftr_2cols {
    margin: 0 10% 20px 10%;
}
.ftr_subscr {
    margin: 20px 0;
    position: relative;
    .icon-next {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #777;
    }
    input {
        background: #fff;
    }
}
.ftr_menu li {
    list-style-type: none;
    a {
        color: #eee;
        padding: 10px 0;
        display: block;
    }
}
.footer_socials {
    .col {
        border-left: #fff 2px solid;
        border-bottom: #fff 2px solid;
        &:first-of-type {
            border-left: none;
        }
        &:hover {
            &:hover {
                background: #fff;
                a {
                    color: #555;
                }
            }
        }
    }
    a {
        color: #fff;
        font-size: 1.4rem;
        display: block;
        padding: 8px;
        text-align: center;
    }
}
//================================= queries 
@include mquery(min-width, $s) {
    .top_filters .date {
        max-width: 85%
    }
}
@include mquery(min-width, $m) {
    .login, .lang {
        font-size: 1rem;
    }
    .top_search {
        padding-left: $colGap;
        .fld {
            width: 12vw;
        }
    }
    .slider_wide li {
        height: 400px;
        .h2 {
            max-width: 60%;
        }
    }
    .nav a {
        padding: 0.5em 1.5vw;
    }
}
@include mquery(min-width, $l) {
    .nav a {
        padding: 0.5em 2vw;
    }
    .slider_wide li {
        .h2, .btn {
            margin: 1.8vw 0;
        }
        .h2 {
            max-width: 50%;
        }
    }
}
@include mquery(min-width, $xl) {
    .top_filters .date {
        max-width: 90%
    }
    .slider_wide li {
        .h2, .btn {
            margin: 1.3vw 0;
        }
        .h2 {
            max-width: 40%;
            &:after {
                margin-top: 2vw;
            }
        }
    }
}