.rss-block
{
  padding: 0 0 20px 0;
  a{
    color: #474646;
    span{
      color: #fab900;
      display: inline-block;
      font-size: 28px;
      vertical-align: initial;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.filter{
  &-block
  {
    font-size: .875rem;
    font-weight: 400;
    padding: 19px 0 14px 28px;
    border-top: 1px solid #f1f1f1;
  }
  &-title{
    margin: 0 0 10px 0;
  }
  &-form-item
  {
    margin: 3px 0 11px 0;
    min-height: 20px;
    input[type="checkbox"] + label:before, input[type="radio"] + label:before
    {
      width: 20px;
      height: 20px;
    }
    input[type="checkbox"] + label, input[type="radio"] + label
    {
      padding-left: 30px;
      padding-top: 7px;
    }
    input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before
    {
      border-color: #76b72a;
      background: #76b72a;
    }
    input[type="checkbox"]:checked + label:after
    {
      border-right: #fff 3px solid;
      border-bottom: #fff 3px solid;
    }
    input[type="checkbox"] + label:after
    {
      width: 6px;
      height: 13px;
      margin: -5px 0 0 8px;
    }
  }
  &-form-count{
    float: right;
    font-size: 12px;
    font-weight: 300;
    color: #a5a5a5;
    padding: 5px 0 0 0;
  }
}
.routesblock
{
  .news_block {
    &>span{
      top: 5%;
      margin-top: 0px;
      font-size: .875rem;
      padding: 0 5px;
      &:before{
        font-size: 1.5rem;
        float: left;
        border: none;
        margin: -5px 0 -5px -5px;
      }
      i{
        font-style: normal;
        display: inline-block;
        text-transform: none;
        padding: 0 7px 0 8px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          top: 5px;
          left: 0px;
          height: 21px;
          border-left: 1px solid white;
        }
      }
      &.simple_span_top
      {
        text-transform: none;
        text-align: left;
        line-height: 1.3;
        padding: 6px 7px;
        font-size: 14px;
        .icon-location
        {
          display: inline-block;
          border: none;
          font-size: 1rem;
          padding: 0px;
          margin: 0px;
          line-height: 1;
          width: auto;
          height: auto;
          &:before{
            top: 0px;
          }
        }
      }
    }
    .news_block_info strong
    {
      margin: 5px 0 12px 0;
    }
  }
}
.news_block_btop
{
  padding: 5px 0 0 0;
  border-top: 1px solid white;
  text-align: left;
  margin: 5px 0 0 0;
  &_2{
    display: block;
    margin: 5px 0 4px 0;
    font-size: .9rem;
  }
}
.news_block_mini
{
  position: relative;
  min-height: 20px;
  display: inline-block !important;
  margin: 0 10px 10px 0;
  padding: 0 0 0 20px!important;
  text-align: left !important;
  .abs_ico
  {
    color: white;
  }
}

.slider_wide3_wrapper{
  position: relative;
  .arr_wrap
  {
    position: static;
    .slick-arrow
    {
      color: #808080;
      top: 50% !important;
      margin-top: -22px;
      &.icon-prev{
        left: -50px;
      }
      &.icon-next{
        right: -50px;
      }
    }
  }
}

.bottom_pager
{
  margin: 15px auto;
  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li{
      display: inline-block;
      border-left: 1px solid #A5A5A5;
      margin-left: -4px;
      &:first-child{
        border-width: 0px;
      }
      a, span{
        display: block;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        color: #A5A5A5;
      }
      a:hover{
        text-decoration: underline;
      }
      &.__active{
        a, span{
          color: white;
          background: $active;
        }
      }
    }
  }
}
.news_block .news_block_info strong.big_text_app
{
  padding: 2rem 1rem;
  height: 90px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  margin: 0px;
}