.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.locationblock {
  margin: 0px;
  &_info
  {
    padding: 0 0 10px 0;
    text-align: left;
    .loc_block_info_title
    {
      a{
        margin: 0 16px 0 0;
      }
    }
  }
  &_text{
    font-size: 0.875rem;
    margin-bottom: 5px;
    p{
      line-height: 1.1rem;
    }
  }
  &-map
  {
    margin: 10px 0 10px 0;
    #map-canvas{
      height: 192px;
    }
  }
  &_right{
    .loc_block_info{
      margin: 0 0 17px 0;
      &.__mrg-bottom20
      {
        margin-bottom: 35px;
      }
    }
    .loc_block_info_price
    {
      color: $active;
      strong{
        font-size: 30px;
      }
      sub{
        bottom: 0px;
        font-size: 13px;
      }
      sup{
        top: -1rem;
        font-size: 13px;
      }
    }
    .loc_block_info_desc
    {
      padding-top: 0px;
    }
    .loc_block_info_title
    {
      padding: 0px;
      font-weight: 400;
      .loc_block_info_desc
      {
        font-weight: 300;
        color: #808080;
      }
      a.btn
      {
        border-radius: 0px;
        color: white;
        float: right;
        padding-right: 26px;
        padding-left: 26px;
      }
    }
    .ico-image
    {
      width: 25px;
      top: -4px;
    }
    .bigtop-margin
    {
      margin-top: 22px;
    }
    .smbottom-margin
    {
      margin-bottom: 9px;
    }
  }
}
.abs_ico
{
  &.center_ico
  {
    top: 50%;
    margin-top: -14px;
  }
}

.proposal-block
{
  .loc_block_info_title
  {
    color: #e74e0f;
  }
  &-item{
    border: 1px solid #e6e6e6;
    padding: 5px 1rem;
    margin-bottom: 10px;
    span{
      font-size: 0.875em ;
    }
  }
  &-name{
    font-weight: 400;
    color: #474646;
  }
  &-price{
    color: #e74e0f;
    font-weight: 400;
  }
  &-date{
    font-size: 0.750em !important;
    color: #b3b3b3;
    padding-right: 10px;
  }
}
.block-padded{
  padding: 10px 0;
  .hdr_middle
  {
    padding-bottom: 10px;
  }
}
.eventblock{
  margin: 0 0 15px 0;
  &-date{
    color: #0097d7;
    font-weight: 400;
    font-size: 1.125rem;
    margin: 0 0 7px 0;
  }
  &-item{
    border-top: 1px solid #f1f1f1;
    display: table;
    width: 100%;
  }
  &-time{
    color: #474646;
    font-size: 1.125rem;
    display: table-cell;
    padding: 20px 10px;
    width: 18%;
    font-weight: 400;
  }
  &-desc{
    display: table-cell;
    padding: 20px 10px;
    color: #808080;
    font-weight: 300;
    font-size:.875rem;
    width: 82%;
  }
}
@include mquery(max-width, $s) {
 .location-info-list
 {
   display: none !important;
 }
}
.afisha_org
{
  &_header{
    margin-bottom: 20px;
    color: #808080;
    font-size: 12px;
    a{
      color: #808080;
    }
    strong{
        color: #464646;
    }
  }
  &_desc{
    color: #808080;
  }
  &_btn{
    margin-top: 30px;
    .btn{
      border-radius: 0px;
      font-size: 1.1rem;
      padding: 10px 40px;
    }
  }
}