$side_panel_bg: #474646;
//============================================= news_block
.profile_wrap {
  background: #f4f4f4;
  margin: $colGap*2 0;
}
.profile_menu, .profile_ads {
  padding-top: $colGap;
  padding-bottom: $colGap;
  background: $side_panel_bg;
  z-index: 1;
}
.profile_ads {
  padding-left: $colGap*3;
  padding-right: $colGap*3;
}
.profile_menu .li {
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  line-height: .9em;
  font-size: .8rem;
  vertical-align: middle;
  padding-bottom: $colGap/2;
  padding-top: $colGap/2;
  cursor: pointer;
  img {
    max-width: 12%;
    display: inline-block;
    vertical-align: middle;
    filter: gray;
    filter: grayscale(1);
    transition: .5s ease-in-out;
  }
  &:hover, &.hover {
    color: $bg_1;
    font-weight: 500;
    @include transition(all ease-in-out .3s);
    img {
      filter: none;
      filter: grayscale(0);
    }
  }
}
.profile_nav_btn + .js-menu_on:before {
  display: none;
}
.profile_nav_btn {
  position: absolute;
  text-align: right;
  right: $colGap;
  z-index: 20;
}
.js-panels {
  & > * {
    display: none;
  }
  & > .on {
    display: block;
  }
}
.profile_side_bg {
  position: absolute;
  background: $side_panel_bg;
  bottom: 0px;
  z-index: 0;
  &.right {
    right: 0px;
  }
  &.left {
    left: 0px;
  }
}
.profile_tabs {
  .hr {
    margin: 0 0 $colGap*2 0;
  }
}
.profile_card {
  border: $table_brdr 1px solid;
  background: #fff;
  margin: 0 0 $colGap*2 0;
  &:before {
    position: absolute;
  }
  & > * {
    padding: $colGap;
  }
  & > div:first-of-type {
    cursor: pointer;
  }
  time.fl_r {
    color: $txt_light;
    line-height: 1.8em;
  }
  .js-menu-btn:before {
    color: $active;
    font-size: 1.8em;
  }
}
.profile_card_info {
  display: none;
  border-top: $table_brdr 1px solid;
  // padding: $colGap $colGap 0 $colGap;
}
.profile_card_footer {
  border-top: $table_brdr 1px solid;
  margin: -$colGap;
  margin-top: $colGap;
  padding: $colGap;
  overflow: auto;
  a {
    text-decoration: underline;
    color: #333;
    font-weight: 400;
  }
}
.grid_wrapper
{
  padding: 0.6rem;
}
.btn_full{
  width: 100%;
}
.my_data_top {
  padding: 1rem 0;
  .profile_tabs_wrp
  {
    & > * {
      margin: 12px 0;
    }
  }

  .icon-check {
    color: #fff;
    border-radius: 50%;
    background: $clr_ok;
    padding: 3px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    display: inline-block;
  }
}
#offers_slider {
  // margin: 0px;
  .news_block {
    height: 200px;
    margin: 10px;
    &:hover * {
      opacity: 1;
    }
  }
  .slick-arrow {
    position: absolute;
    z-index: 100;
    color: #fff;
    top: 50%;
    font-size: 2.6rem;
    @include mquery(max-width, $l) {
      &.icon-prev
      {
        left: -30px;
        margin-top: -20px;
      }
      &.icon-next
      {
        right: -30px;
        margin-top: -20px;
      }
    }
  }
  &.slick-vertical {
    .slick-arrow {
      position: relative;
      left: 50%;
      top: auto;
      margin-left: -1.3rem;
    }
  }
  .icon-down {
    margin: -$colGap*3 0 -$colGap 0;
  }
  .icon-up {
    margin: -$colGap 0;
  }
  .icon-prev {
  }
}
.offers_hdr {
  position: relative;
  z-index: 100;
  color: #fff;
  background: $side_panel_bg;
  border-bottom: #fff 1px solid;
  padding: 17px 12px;
  text-align: center;
  text-transform: uppercase;
}
//--------------- Queries
@include mquery(min-width, $s) {
  .profile_menu .li {
    img {
      max-width: 10%;
    }
  }
}
.profile_tabs_wrp{
  padding: 0 3rem;
  @include mquery(max-width, $s) {
    padding: 0 1rem;
  }
}
@include mquery(min-width, $m) {
  #offers_slider > * {
    height: auto;
  }
  .profile_side_bg.left {
    top: 0px;
    max-width: 160px;
  }
  .profile_tabs {
    padding: 0 $colGap*4;
  }
  .profile_menu {
    max-width: 160px;
  }
  .profile_menu .li {
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: $colGap;
    line-height: 1.1rem;
    img {
      margin: 0 auto;
      display: block;
      max-width: 64px;
      margin-bottom: 0px;
    }
  }
}
@include mquery(min-width, $l) {
  #offers_slider {
    .news_block {
      height: 200px;
      margin: 0 0 20px 0;
    }
  }
  .profile_ads {
    padding-left: $colGap;
    padding-right: $colGap;
  }
  .profile_side_bg.right {
    top: 0px;
  }
  .profile_tabs {
    padding-left: 0;
  }
}
.profile_tabs
{
  .h6{
    font-size: .8rem;
    padding: 0 0 7px 0;
  }
}
.route_block{
  background: $bg_1;
  border: 1px solid #e6e6e6;
  padding: 4px 8px;
  margin: 0 0 12px 0;
  &_info{
    color: $txt_light;
    border-left: 1px solid #ececec;
    font-size: .8rem;
    line-height: 2;
  }
  &_icon
  {
    font-size: 1.5rem;
    line-height: 1;
    text-align: right;
    color: $txt_light;
    @include mquery(max-width, $s) {
     text-align: center;
    }
  }
  &_title{
    line-height: 1.2rem;
    padding: 2px 0;
    @include mquery(max-width, $s) {
      border-bottom: 1px solid #ececec;
    }
  }
}

.popup_form
{
  max-width: 280px;
  padding: 0 6px;
  overflow: hidden;
  h1{
    font-size: 1rem;
    text-transform: uppercase;
    margin: 4px 0 0 0px;
  }
  &_wrp{
    padding: 1.7rem .9rem 0px .9rem;
    @include mquery(max-width, $s) {
      padding: 0.7rem 0 0px 0;
    }
  }
  .form-group
  {
    margin: 0 0 16px 0;
    position: relative;
  }
  .form_popup_sm
  {
    position: absolute;
    width: 100%;
    font-size: .6rem;
    color: #999999;
    right: 0px;
    bottom: -13px;
  }
  .form-control{
    background: #fff;
    padding: 8px 17px;
    @include mquery(max-width, $s) {
      padding: 4px 17px;
    }
  }
  input[type="checkbox"] + label i
  {
    font-size: .8rem;
    color: #999999;
    font-style: normal;
  }
  input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    border: #b3b3b3 1px solid;
  }
  .btn{
    padding: 9px 0.5em;
    text-transform: uppercase;
  }
  &_small{
    font-size: .8rem;
    color: #999999;
  }
  &_title{
    font-size: .9rem;
    line-height: 1;
    margin: 12px 0 12px 0;
    @include mquery(max-width, $s) {
      margin: 8px 0;
    }
  }
  &_socials{
    a{
      display: inline-block;
      width: 37px;
      height: 37px;
      line-height: 37px;
      text-align: center;
      margin: 0 10px;
      font-size: 1.2rem;
      transition: all .5s ease-in-out;
      &.icon-facebook
      {
        background: #3a559f;
        color: white;
      }
      &.icon-linkedin
      {
        background: #0084b1;
        color: white;
      }
      &.icon-google
      {
        background: #dd4b39;
        color: white;
      }
      &:hover{
        opacity: .6;
      }
    }
  }
}
.link-small{
  font-size: .8rem;
}
.form-group-inside
{
  margin-bottom: 7px;
}
.__absolute
{
  position: absolute;
  @include mquery(max-width, $m) {
    position: static;
    display: block;
    text-align: center;
    float: none;
  }
}
.__relative
{
  position: relative;
}
.what_card
{
  right: 0px;
}
.upload_block
{
  &_span
  {
    color: $clr_black;
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
  }
  #upload_block_form
  {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
}
.__text-underline
{
  text-decoration: underline;
}
.card_information
{
  min-height: 200px;
}