@import "../base/vars";
//======================= slider_wide 
#events_slider~.lSAction {
    margin: 0 auto;
    max-width: 80em;
    padding: 1.2rem;
    position: relative;
    height: 0px;
    padding: 0px;
    a {
        color: #fff;
        font-size: 2.4rem;
        top: -30px;
    }
    .lSPrev {
        left: auto;
        right: 150px;
    }
}
#package_slider~.lSAction {
    position: absolute;
    bottom: 0px;
    left: $colGap;
    width: 120px;
    line-height: 30px;
    height: 70px;
    a {
        color: #fff;
        font-size: 2.4rem;
    }
}
#locations_slider~.lSAction {
    margin: 0 auto;
    max-width: 80em;
    padding: 1.2rem;
    position: relative;
    height: 0px;
    padding: 0px;
    a {
        color: #fff;
        font-size: 2.4rem;
        top: -30px;
    }
    .lSNext {
        right: auto;
        left: 150px;
    }
}
.slider_wide li {
    height: 350px;
    background-size: cover;
    background-position: 50%;
    &.col {
        padding: 0px;
    }
    .block_wrap {
        height: 100%;
    }
    .block_wrap>* {
        display: block;
        float: left;
        clear: both;
        color: #fff;
    }
    a {
        color: #fff;
    }
    time {
        background: $clr_ok;
        font-size: 1.2rem;
        padding: .3em .6em;
        text-shadow: 1px 1px 2px #4e8c00;
        &.icon-location:before {
            font-size: 1.2em;
            display: inline-block;
            padding: 0 5px 0 0;
        }
    }
    .h2 {
        line-height: 1em;
        &:after {
            content: '';
            margin-top: 3vw;
            display: block;
            width: 70px;
            border-top: #fff 3px solid;
        }
    }
    .h2, .btn {
        margin: 2vw 0;
    }
    .btn {
        border-width: 2px;
        border-radius: 0px;
        padding-left: 2em;
        padding-right: 2em;
        &:hover {
            opacity: 1;
            background: rgba(255, 255, 255, .3);
        }
    }
    .social_box a {
        font-size: 1.2rem;
        display: inline-block;
        padding: 5px;
    }
    .slide_num {
        font-size: 2.8rem;
        position: absolute;
        font-weight: 600;
        right: $colGap*5;
        bottom: 0px;
        sup {
            font-size: 1.3rem;
            top: -.8em;
            margin-left: -5px;
        }
    }
}
.slider_wide.txt_r li {
    .block_wrap>* {
        float: right;
    }
    .h2:after {
        float: right;
    }
    .slide_num {
        right: auto;
        left: 3rem;
    }
    .social_box {
        left: auto;
        right: 0px;
    }
}