@import "vars";
$hdr_btn_size: 35px;
.page_hdr {
    background: $bg_1;
    color: $txt_mid;
    height: $page_hdr_H;
    position: relative;
    z-index: 101;
    nav {
        ul {
            margin: 0px;
            padding: 0px;
        }
    }
    .logo {
        font-size: 120%;
    }
}
.hdr_top {
    background: $bg_1;
    padding: 0 $page_padd;
}
.hdr_btn {
    display: inline-block;
    background: #333;
    width: $hdr_btn_size;
    height: $hdr_btn_size;
    line-height: $hdr_btn_size;
    vertical-align: middle;
    text-align: center;
    color: $txt_light;
    @include rounded(30px);
}
.sign-search
{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 30px;
    &:before{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 19px;
        height: 19px;
        background: url(../img/search.png) no-repeat center;
        background-size: cover;
        content: "";
    }

}
.top_search_block
{
    position: absolute !important;
    right: 30px;
    top: 5px;
}
.btn.brdr.icon-menu
{
   margin: 5px 5px 0 0;
}
.lang_block
{
    position: relative;
    .lang_current
    {
        font-size: 12px;
        padding-right: 15px;
        cursor: pointer;
        &:after{
            content: "";
            position: absolute;
            top: 12px;
            right: 3px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 3px 0 3px;
            border-color: #474646 transparent transparent transparent;
        }
    }
}
//------------------- queries
@include mquery(min-width, $s) {}