@import "vars";
body {
    @include transition(margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out);
}
body:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .3);
    opacity: 0;
    @include transition(opacity ease-in-out .3s);
}
//--------------------------- tabs
.tabs {
    width: 100%;
    float: left;
    // background: inherit;
    dt {
        @if $rnd !=0 {
            @include rounded($rnd $rnd 0 0);
        }
        vertical-align: top;
        margin-bottom: -1px;
        display: inline-block;
        border: transparent 1px solid;
        padding: $colGap/2 .8rem;
        cursor: pointer;
        position: relative;
        z-index: 1;
        &.on {
            border: $table_brdr 1px solid;
            border-bottom-color: transparent;
            background: $tab_bg;
            &+dd {
                // @include opacity(1);
                // height: auto;
                // max-height: 10000px;
                // overflow: visible;
                display: block;
                background: $tab_bg;
            }
        }
    }
    dd {
        font-size: 1rem;
        display: none;
        float: right;
        // overflow: hidden;
        // max-height: 0px;
        // @include opacity(0);
        // @include transition(opacity ease-in-out .5s);
        position: relative;
        margin: 0 0 0 -100%;
        padding: 0 $colGap $colGap $colGap;
        background: inherit;
        width: 100%;
        &:before {
            content: '\00a0';
            padding: $colGap/2 .8rem;
            font-size: inherit;
            display: block;
            margin-left: -$colGap;
            margin-right: -$colGap;
            margin-bottom: $colGap;
            border-top: transparent 1px solid;
            border-bottom: $table_brdr 1px solid;
        }
    }
    &.h1 dt, &.h1 dd:before {
        font-size: $h1f;
    }
    &.h2 dt, &.h2 dd:before {
        font-size: $h2f;
    }
    &.h3 dt, &.h3 dd:before {
        font-size: $h3f;
    }
    &.h4 dt, &.h4 dd:before {
        font-size: $h4f;
    }
    &.h5 dt, &.h5 dd:before {
        font-size: $h5f;
    }
}
//---------------------------------------- navs
.js-menu_on {
    // background: inherit;
}
.js-menu_on:before {
    content: '\00a0';
}
.js-menu_hide>.nav {
    position: absolute;
    // max-height: 0px;
    left: 0px;
    top: 100%;
    width: 100%;
    display: none;
    overflow: hidden;
    background: inherit;
    // @include transition(max-height .3s ease-in-out);
    &>li {
        display: block;
    }
}
.js-menu_on>.nav {
    // max-height: 50000px;
    display: block;
}
.navbar {
    &>*, .nav, li, a {
        color: inherit;
        background: inherit;
    }
    .col {
        vertical-align: middle;
    }
}
.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    a {
        display: block;
        text-decoration: none;
        padding: $fld_padd_h $fld_padd_v;
    }
    &>li {
        display: inline-block;
    }
}
.navbar a {
    @include transition(all .3s ease-in-out);
    &:hover {
        background: rgba(255, 255, 255, .1);
    }
}
// @if $menu_dark==1 {
//     .navbar {
//         a:hover {
//             color: #fff;
//             background: rgba(255, 255, 255, .1);
//         }
//     }
//     .js-menu_hide li:first-child, .js-menu #mainmenu li:first-child {
//         border-top: rgba(255, 255, 255, .1) 1px solid;
//     }
//     .js-menu_hide a, .js-menu #mainmenu a {
//         border-bottom: rgba(255, 255, 255, .1) 1px solid;
//     }
// }
// @else {
//     .navbar {
//         a:hover {
//             color: #000;
//             background: rgba(255, 255, 255, .1);
//         }
//     }
//     .js-menu_hide li:first-child, .js-menu #mainmenu li:first-child {
//         border-top: rgba(0, 0, 0, .05) 1px solid;
//     }
//     .js-menu_hide a, .js-menu #mainmenu a {
//         border-bottom: rgba(0, 0, 0, .05) 1px solid;
//         &:hover {
//             color: #000;
//             background: rgba(0, 0, 0, .05);
//         }
//     }
// }
//---------------------------- dropdowns
.drop_hover {
    position: relative;
    &:hover .drop {
        max-height: 1000px;
    }
}
.drop_left .drop {
    right: auto;
}
.drop_right .drop {
    left: auto;
}
.drop {
    position: absolute;
    line-height: normal;
    top: 100%;
    left: 0px;
    right: 0px;
    @include transition(max-height 0.3s ease-in-out);
    max-height: 0px;
    overflow: hidden;
}
//--------------------crumbs
.crumbs {
    ol, ul {
        margin: 0 0 1rem 0;
        color: $txt_light;
        // border-bottom: #ccc 1px solid;
    }
    li {
        list-style-type: none;
        font-size: .9rem;
        display: inline-block;
        &:first-child a {
            padding-left: 0;
        }
    }
    a {
        color: $txt_dark;
        &:hover {
            color: $active;
        }
    }
    a, span {
        padding: $colGap/2;
    }
}
//---------------------- pagination
.pagination {
    margin: 2*$colGap $colGap 4*$colGap $colGap;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    &>* {
        margin: 0 2px;
        display: inline-block;
        border: $table_brdr 1px solid;
        @include rounded(2px);
        padding: 2px 5px;
        min-width: 1.5rem;
        color: $txt_dark;
        &[disabled] {
            pointer-events: none;
            cursor: default;
            color: #ccc;
            border-color: #ccc;
        }
    }
    &>a:hover {
        color: #fff;
        background: $active;
        border-color: transparent;
        @include transition(all ease-in-out .3s);
    }
    &>span {
        color: #fff;
        background: $table_brdr;
        border-color: transparent;
    }
}
//----------------------- Queries
@include mquery(min-width, $m) {
    .menu_fixed #mainmenu {
        width: $menu_fixed_W;
        left: -$menu_fixed_W;
    }
}